<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Author Results</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Author Search Results</h1>

  <% if (error) { %>
    <p style="color: red;"><%= error %></p>
  <% } else { %>
    <ul>
      <% authors.forEach(author => { %>
        <li><%= author %></li>
      <% }) %>
    </ul>
  <% } %>

  <a href="/">⬅ Back</a>
</body>
</html>
